[Desktop Entry]
StartupNotify=false
Type=Application
Terminal=false
Name=Swap Screen Rotation
Icon=/usr/share/icons/Adwaita/256x256/actions/go-next.png
Exec=/usr/local/bin/rotswap.sh
Categories=Utility;System
