[Desktop Entry]
Type=Application
Terminal=false
Name=Swap Screen Rotation
Icon=/usr/share/unity/icons/kylin_login_activate.svg
Exec=/bin/sh -c /home/canelson/rotswap.sh
